Package: com.yohunl.wechatredenvelop
Name: wechatRedEnvelop
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: yohunl
Author: yohunl
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 716
